streamlit==1.45.1
fastapi==0.115.12
uvicorn==0.34.2
pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
scipy==1.15.3
httpx==0.28.1
python-dotenv==1.1.0
requests==2.32.3
bcrypt==4.3.0
google-genai==1.15.0
pydantic==2.11.4
